@import '../../../global/lf-alert-modal.scss';

$padding: 1.875rem;
.lf-device-info--content-container {
  width: 100%;
  transition: background-color 300ms;

  &.lf-layout--desktop {
    background-color: $color-brand-lf-gray-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;


    .lf-device-info--content {
      padding: $padding;
    }

    .lf-device-info--action-links-container {
      padding: 0 $padding;
      border-top: 1px solid #5d5d5d;
      display: flex;
      height: 10%;
      min-height: 60px;
      max-height: 90px;
      align-items: center;

      .action-link {
        margin: unset;
      }
    }

    .lf-device-info--header {
      display: flex;
      justify-content: space-between;
    }
  }

  &.lf-layout--mobile {
    background-color: var(--ion-background-color);
    padding: 30px;

    .lf-device-info--header {
      display: none;
    }
  }

  .close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: $color-brand-lf-white-base;
    transition: color 300ms linear;

    &:hover {
      opacity: 0.7;
    }

    &:active,
    &:focus {
      color: $color-brand-lf-blue-base;
    }
  }
}

.lf-device-info--details-container {
  margin-bottom: 24px;

  &.registered-devices {
    padding-top: 20px;
  }
}

.lf-device-info--device-name {
  @include atlas-regular($color-brand-lf-white-base, 1.5rem);
  margin: 0 20px 30px 0;
}

.lf-device-info--field-label {
  @include atlas-regular($color-brand-lf-white-base, 0.75rem);
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.lf-device-info--field-value {
  @include atlas-regular($color-brand-lf-white-base, 1.125rem);
}

.status-container {
  lf-device-status-marker,
  .lf-device-info--field-value, .lf-device-info--last-online {
    display: inline-block;
    vertical-align: baseline;
  }



  lf-device-status-marker {
    margin-right: 10px;
  }

  .lf-device-info--last-online {
    @include atlas-regular($color-brand-lf-text-gray, 14px);
    margin-left: 5px;

    &.online {
      display: none;
    }
  }
}

.divider {
  border: 1px solid $color-brand-lf-gray-base;
  width: 100%;
}

.lf-device-info--action-links-container {
  margin-top: 24px;

  .action-link,
  a:link,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    display: block;
    @include atlas-regular($color-brand-lf-white-base, 0.825rem);
    text-decoration: underline;
    outline: none;
    margin-bottom: 24px;
    cursor: pointer;
  }

  a:last-child {
    margin-bottom: 0;
  }
}

// Device Removal Modal
