@mixin atlas-light($color: null, $font-size: null) {
  font-family: "AtlasGrotesk-Light", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-regular($color: null, $font-size: null) {
  font-family: "AtlasGrotesk-Regular", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-medium($color: null, $font-size: null) {
  font-family: "AtlasGrotesk-Medium", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-bold($color: null, $font-size: null) {
  font-family: "AtlasGrotesk-Bold", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin dynamicFonts(
  $largeScreen: 14px,
  $mediumScreen: 14px,
  $smallScreen: 12px
) {
  font-size: $largeScreen;
  @media (max-width: 900px) {
    font-size: $mediumScreen;
  }
  @media (max-width: 400px) {
    font-size: $smallScreen;
  }
}

// Our web component library's Figma file was not designed for web in mind, the font was too small.
// This function will convert the Figma pixel value designed on a initialFontSizePx base size, 
// using the intended font size fot the web and return a value in Rem/Em
// @see Jose Conchello for support
@function rescaleValuePxToRem(
  $valueToConvert,
  $initialFontSizePx: 10,
  $newFontSizePx: 14
) {
  $rescaleFactor: $newFontSizePx / $initialFontSizePx;
  $rescaleValuePX: $rescaleFactor * $valueToConvert;
  $rescaleValueRem: $rescaleValuePX / $newFontSizePx;

  @return $rescaleValueRem;
}
