
@mixin atlas-light($color: null, $font-size: null) {
  font-family: AtlasLight;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-regular($color: null, $font-size: null) {
  font-family: AtlasRegular;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

