:host {

}


ion-content {
  --padding-top: 2rem;
  --padding-bottom: 2rem;
  --padding-end: 2rem;
  --padding-start: 2rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.wifi-list--page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.wifi-list--card {
  border: 0.25rem solid $color-brand-lf-white-base;
  border-radius: 0.75rem;
  color: $color-brand-lf-white-base;
  padding: 3rem 3rem 1rem 3rem;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;


  display: flex;
  flex-direction: column;
}



.wifi-list--content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

.wifi-list--header-container {
  .wifi-list--header-text {
    @include atlas-regular($color-brand-lf-white-base, 3rem);
    font-weight: bold;
    line-height: 3.625rem;
    padding: 0rem 2.0625rem;
  }

  .wifi-list--header-divider {
    background-color: $color-brand-lf-white-base;
    background-color: $color-brand-lf-white-base;
    height: 1px;
    padding: 0 0.5rem;
    width: 100%;
    margin-top: 2.3125rem;
  }
}

.scrollable-content {
  flex-grow: 1;
  overflow: auto;
  /* for Firefox */
  min-height: 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-brand-lf-text-gray-dark;
    border-radius: 10px;
  }
}
