scratch/
css/lightform-bootstrap\.min\.css
env.js
node_modules
*/node_modules/

web-components/dist/
web-components/www/
web-components/loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.editorconfig/
.sass-cache/
.versions/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
