//**** Brand Colors ***********************************************************
$color-brand-lf-white-base: #ffffff;

$color-brand-lf-text-gray: #babfd1;
$color-brand-lf-text-gray-dark: #575c6d;
$color-brand-lf-gray-light: #3c3e47;
$color-brand-lf-gray-base: #2b2b30;
$color-brand-lf-gray-dark: #232326;

$color-brand-lf-ui-black-light: #1a1a1c;
$color-brand-lf-ui-black: #161618;
$color-brand-lf-canvas-black: #0e0e0e;

$color-brand-lf-black-base: #000000;

$color-brand-lf-blue-light: #5885ff;
$color-brand-lf-blue-base: #2c65ff;
$color-brand-lf-blue-dark: #2352d0;

$color-brand-lf-purple-base: #7c2cff;
$color-brand-lf-purple-dark: #690efd;

$color-brand-lf-yellow-base: #f2c94c;
$color-brand-lf-yellow-dark: #dcb745;

$color-brand-lf-green-bright: #17e8b0;
$color-brand-lf-green-light: #15c595;
$color-brand-lf-green-base: #12a37b;

$color-brand-lf-red-base: #d43333;
$color-brand-lf-red-dark: #c23030;
$color-brand-lf-red-Mask: #ff0000;

//**** Fonts ******************************************************************
// $font-family-atlas: Atlas Grotesk Web;
$font-family-atlas: Atlas Grotesk Web, Helvetica, sans-serif;
$font-files-path: 'assets/fonts/';
$host-font-size: 16px;
