$loadingIconSize: 118px;

button {
  appearance: none;
  color: unset;
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: center;
  align-items: flex-start;
  cursor: unset;
  background-color: unset;
  margin: unset;
}

.wifi-list--items-container {
  padding-top: 0.825rem;
  height: 100%;
  overflow-y: scroll;

  .wifi-list-item--last {
    margin-bottom: 200px; // size of refresh button plus some
  }

  .wifi-list--refresh-list {
    transition: opacity 0.5s;
  }

  &.refresh-focused .wifi-list--refresh-list {
    opacity: 1;
  }

  &.refresh-blurred .wifi-list--refresh-list {
    opacity: 0;
  }

  &.no-scroll {
    overflow: hidden;
  }

  .loading-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    img {
      width: $loadingIconSize;
      height: $loadingIconSize;
    }
  }

  .wifi-list--refresh-list {
    @include lf-std-list-item();
    @include atlas-regular(null, 36px);
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: color 0.3s, border 0.3s;
    padding: 24px 0;

    position: absolute;
    left: -$lf-app-border-width;
    right: 0;
    bottom: -$lf-app-border-width;
    width: $lf-card-width;
    margin: 0 auto;

    &:focus,
    &:hover {
      color: $color-brand-lf-green-base;
      border-color: $color-brand-lf-blue-light;
      cursor: pointer;
    }

    &:active {
      border-color: $color-brand-lf-green-light;
    }
  }
}
