@import '../../../global/lf-alert-modal.scss';


$content-padding: 14px;

.lf-account-info {
  width: 100%;
  min-height: 100%;
  background-color: var(--ion-background-color);

  lf-list {
    --background: var(--ion-background-color);
  }

  lf-list-item {
    --background: var(--ion-background-color);
    --padding-left: #{$content-padding};
    --background-active: #{$color-brand-lf-blue-base};
    --background-hover: var(--ion-background-color);
    --border-color-hover: #{$color-brand-lf-blue-base};
    --border-color-active: #{$color-brand-lf-blue-base};

    cursor: pointer;
  }
}

.lf-account-info--details-container {
  margin-bottom: 24px;

  &.registered-devices {
    padding-top: 20px;
  }
}

.lf-account-info--user-name {
  margin: 0 0 24px 0;
  @include atlas-medium($color-brand-lf-white-base, 1.5rem);
}

.lf-account-info--field-label {
  @include atlas-regular($color-brand-lf-white-base, 0.75rem);
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.lf-account-info--field-value {
  @include atlas-regular($color-brand-lf-white-base, 1.125rem);

  &.no-device {
    margin-top: 20px;
  }
}

.next-view-icon {
  cursor: pointer;
}

.lf-pad-left {
  padding-left: $content-padding;
  display: block;
}



// Mobile Styles
// -------------------------------
.lf-layout--mobile {
  .divider {
    border: 1px solid $color-brand-lf-gray-base;
    width: 60%;
    margin: 0 auto;
  }

  .action-link {
    font-size: 0.875rem;
  }
}

.lf-layout--desktop {
  &.lf-account-info--content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .divider {
    display: none;
  }

  .register-device-link {
    margin-top: 40px;
  }

  .lf-account-info--action-links-container {
    justify-self: flex-end;
    margin-bottom: 50px;
  }

  .action-link {
    padding-left: $content-padding;
    font-size: 0.875rem;
  }
}

.lf-account-info--action-links-container {
  margin-top: 24px;

  a:last-child {
    margin-bottom: 0;
  }
}

lf-account-info lf-loading-message {
  margin: 0 auto;
}
