@mixin atlas-light($color: null, $font-size: null) {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-regular($color: null, $font-size: null) {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-medium($color: null, $font-size: null) {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin lf-std-list-item {
  @include lf-std-border();
  @include atlas-regular($color-brand-lf-white-base, 36px);
  padding: 9px 10px 2px;
}

@mixin lf-std-border {
  border-width: $lf-app-border-width;
  border-style: solid;
  border-color: transparent;
  border-radius: 12px;
  outline: none;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-inner-element() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin action-btn($width: null, $height: null) {
  @include lf-std-border();
  @include atlas-medium($color-brand-lf-white-base, 36px);
  background-color: transparent;

  width: $width;
  height: $height;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: $color-brand-lf-green-bright;
    border-color: $color-brand-lf-blue-light;
  }
}

@mixin abs-bottom-btn($width: 100%) {
  @include action-btn();

  position: absolute;
  left: -2 * $lf-app-border-width;
  right: 0;
  bottom: -$lf-app-border-width;
  width: $width;
  margin: 0 auto;
  outline: none;
}
