
//**** Brand Colors ***********************************************************
$color-brand-lf-white-base: #FFFFFF;

$color-brand-lf-text-gray: #BABFD1;
$color-brand-lf-text-gray-dark: #575C6D;
$color-brand-lf-gray-light: #3C3E47;
$color-brand-lf-gray-base: #2B2B30;
$color-brand-lf-gray-dark: #232326;

$color-brand-lf-ui-black-light: #1A1A1C;
$color-brand-lf-ui-black: #161618;
$color-brand-lf-canvas-black: #0E0E0E;

$color-brand-lf-black-base: #000000;

$color-brand-lf-blue-light: #5885FF;
$color-brand-lf-blue-base: #2C65FF;
$color-brand-lf-blue-dark: #2352D0;

$color-brand-lf-purple-base: #7C2CFF;
$color-brand-lf-purple-dark: #690EFD;

$color-brand-lf-yellow-base: #F2C94C;
$color-brand-lf-yellow-dark: #DCB745;

$color-brand-lf-green-bright: #17E8B0;
$color-brand-lf-green-light: #15C595;
$color-brand-lf-green-base: #12A37B;

$color-brand-lf-red-base: #D43333;
$color-brand-lf-red-dark: #C23030;
$color-brand-lf-red-mask: #FF0000;


//**** Fonts ******************************************************************
$font-family-atlas: Atlas Grotesk Web;
$font-family-atlas: Atlas Grotesk Web, Helvetica, sans-serif;
$host-font-size: 14px;


// UI ELEMENTS
$lf-card-width: 41vw;
$lf-card-height: 66vh;
$lf-app-border-width: 4px;
$action-btn-height: 8vh;
