@import "../../_common/mixins";

:host {
  margin: 1rem;


  .btn-container {
    display: inline-block;
    padding: 1rem;
  }

  .btn-type-label {
    margin-left: 1rem;
    margin: 0 1rem;
  }

  .btn-size-label {
    text-align: center;
    margin-top: 5px;
  }
}
