ion-modal.lf-update-password-modal {
  --backdrop-opacity: 1;
  --border-radius: 8px;
  --border-width: 2px;
  --border-style: solid;

  &.lf-layout--desktop {
    --max-height: 450px;
  }
    &.lf-layout--mobile {
    --max-height: 100vh;
  }

  .lf-update-password-modal--content {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .lf-modal-hero-text {
    margin: 40px auto;
    text-align: center;

  }

  .close-modal-button {
    position: absolute;
    top: 1vh;
    right: 1vh;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: 1;
    }

  }

  lf-text-input {
    padding: 1rem;
  }

  .lf-update-password--form {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .form-buttons--container {
    margin: auto auto 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
  }

  .progress-container {
    height: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }
}
