@import "../../_common/animations.scss";

.wifi-list--card {
  border: 1px solid $color-brand-lf-white-base;
  background-color: $color-brand-lf-black-base;
  color: $color-brand-lf-white-base;
  padding: 1rem;
  border-radius: 5px;
  @include atlas-regular();

  .wifi-list--card-content,
  .wifi-list--list,
  .wifi-list--header {
    background-color: inherit;
    color: inherit;
  }

  $color-bkgd: $color-brand-lf-black-base;
  .wifi-list--item-container {
    max-height: 15rem;
    overflow-y: scroll;

    /** solid rounded scrollbar style */
    &::-webkit-scrollbar {
      width: 1.5rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px 10px $color-bkgd;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 10px 10px $color-brand-lf-blue-base;
      border: solid 5px transparent;
      border-radius: 1.5rem;
    }

    /** faded out scrollbar style */
    // &::-webkit-scrollbar {
    //   width: 10px;
    //   background-color: $color-bkgd;
    //   margin: 5rem;
    // }

    // &::-webkit-scrollbar-thumb {
    //   border-radius: 5px;
    //   background-color: $color-bkgd;
    //   background-image: -webkit-gradient(linear, 10% 0%, 20% 100%, from($color-bkgd), to($color-brand-lf-blue-base), color-stop(0.2, $color-brand-lf-blue-dark));
    //   margin: 5rem;
    // }

    // &::-webkit-scrollbar-track {
    //   background-color: $color-bkgd;
    // }

    // &::-webkit-scrollbar-corner {
    //   background-color: $color-bkgd;
    // }
  }

  .wifi-list--header {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    @include atlas-regular(inherit, 1.2rem);
    margin-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
  }

  .loading-container {
    margin: 1.5rem;
    text-align: center;

    h3 {
      @include atlas-regular(inherit, 1.5rem);
      margin-bottom: 1rem;
    }

    img {
      width: 6rem;
      height: 6rem;
    }
  }

  .wifi-list--refresh-list {
    display: flex;
    justify-content: center;
    align-content: flex-end;

    @include lf-std-list-item();
    animation: popIn .2s calc(var(--animation-order) * 70ms) both ease-in;

    &:focus,
    &:hover {
      border-color: $color-brand-lf-blue-base;
      cursor: pointer;
    }

    &:active {
      border-color: $color-brand-lf-green-base;
    }

    i {
      margin-left: 1rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}


