//**** Brand Colors ***********************************************************
$color-brand-white-base: #ffffff;

$color-brand-text-gray: #babfd1;
$color-brand-text-gray-dark: #575c6d;
$color-brand-gray-light: #3c3e47;
$color-brand-gray-base: #2b2b30;
$color-brand-gray-dark: #232326;

$color-brand-ui-black-light: #1a1a1c;
$color-brand-ui-black: #161618;
$color-brand-canvas-black: #0e0e0e;

$color-brand-black-base: #000000;

$color-brand-blue-light: #5885ff;
$color-brand-blue-base: #2c65ff;
$color-brand-blue-dark: #2352d0;

$color-brand-purple-base: #7c2cff;
$color-brand-purple-dark: #690efd;

$color-brand-yellow-base: #f2c94c;
$color-brand-yellow-dark: #dcb745;

$color-brand-green-bright: #17e8b0;
$color-brand-green-light: #15c595;
$color-brand-green-base: #15c595;

$color-brand-red-base: #d43333;
$color-brand-red-dark: #c23030;
$color-brand-red-Mask: #ff0000;
