@import '../../../_common/animations.scss';

.page-registration--container {
  height: 100%;
  padding: 1rem;
  animation: 1.5s ease 0s normal forwards 1 fadeIn;

  .registration--slider,
  .registration--slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .registration--slide-content {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .slide-content--top {
      height: 50%;
    }

    .slide-content--bottom {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  h1 {
    text-align: center;
    @include atlas-medium($color-brand-lf-white-base, 24px);
    margin-bottom: 3vh;
    margin-top: unset;
  }

  .registration--hero-img {
    display: block;
    background-color: $color-brand-lf-black-base;
    transition: max-height 300ms;
    margin: 0 auto;
  }

  @media (min-height: 600px) {
    .registration--hero-img {
      max-height: 300px;
    }
  }

  .registration--prompt {
    @include atlas-regular($color-brand-lf-white-base, 16px);
    margin-top: 3vh;
    margin-bottom: unset;
    line-height: 22px;
  }

  .registration--help {
    text-decoration: underline;
    margin-bottom: 55px;
    cursor: pointer;
    margin-top: auto;
  }

  .registration--action-btn {
    width: 100%;
    max-width: 315px;
  }

  // Ionic Slides - Pagination Bullets
  .swiper-pagination.swiper-pagination-bullets {
    position: fixed;
    bottom: 30px;
  }

  .swiper-pagination-bullet {
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  // Slide 2 - Arrow Display Boxes
  .lf-registration-input--input-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto 16px auto;
    text-align: center;
  }

  .lf-registration-input--border-box {
    background-color: $color-brand-lf-white-base;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    &:nth-child(-n + 3) {
      margin-right: 8px;
    }

    &:nth-child(n + 7) {
      margin-left: 8px;
    }

    @media (min-width: 600px) and (min-height: 600px) {
      width: 60px;
      height: 60px;
      margin-top: 16px;

      &:nth-child(-n + 3) {
        margin-right: 16px;
      }

      &:nth-child(n + 7) {
        margin-left: 16px;
      }
    }
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }

  .lf-input-img {
<<<<<<< HEAD
    height: 45px;
    width: 45px;
    background: url('/assets/icons/registration-arrow-down-black.svg') center center no-repeat;
=======
    height: 4.2vh;
    width: 4.2vh;
    background: url('/assets/icons/registration-arrow-down-white.svg') center center no-repeat;
>>>>>>> 6eb1bbf (OAK-613-ftux-ui-changes: change size)

    &.direction-left {
      transform: rotate(90deg);
    }
    &.direction-up {
      transform: rotate(180deg);
    }
    &.direction-right {
      transform: rotate(-90deg);
    }
    &.direction-down {
      transform: rotate(0);
    }
  }

  @media (max-width: 600px) {
    .lf-input-img {
      height: 20px;
      width: 20px;
    }
  }

  .close-btn {
    cursor: pointer;
    opacity: 1;
    transition: opacity 300ms;

    &:hover {
      opacity: 0.7;
    }

    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}
