// ---- Local SCSS Variables --------------------
$img-size: 2.5rem; //40px

.lf-now-playing--container {
  background-color: $color-brand-lf-gray-base;
  padding: 1rem 1.687rem;
}

lf-now-playing-image {
  --image-size: #{$img-size};
}

.flex-fixed {
  --flex-fixed-content-size: #{$img-size};
}

.lf-now-playing--hero {
  @include atlas-regular($color-brand-lf-text-gray, 0.75rem);
  text-transform: uppercase;
}

.lf-now-playing--scene-title {
  margin-top: 0.25rem;
  @include atlas-regular($color-brand-lf-white-base, 1.125rem);
}
