@mixin atlas-light($color: null, $font-size: null) {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin atlas-regular($color: null, $font-size: null) {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: $color;
  font-size: $font-size;
}

@mixin lf-std-list-item {
  padding: 0.5rem;
  border: 2px solid $color-brand-lf-black-base;
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  outline: none;
}
