/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/



html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
  font-size: 17px;
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 10px;
  }
}


@media (max-height: 900px) {
  html {
    font-size: 14px;
  }
}
@media (max-height: 800px) {
  html {
    font-size: 12px;
  }
}
@media (max-height: 650px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Atlas Grotesk Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Font Definitions */
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('assets/fonts/AtlasGrotesk-Regular-Web.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('assets/fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
    /* Super Modern Browsers */ url('assets/fonts/AtlasGrotesk-Regular-Web.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('assets/fonts/AtlasGrotesk-Light-Web.eot');
  src: url('assets/fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
    url('assets/fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
