.cta--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  .cta--hero-image {
    height: 10vh;
    width: auto;
  }

  lf-button {
    width: 315px;
  }

  p {
    text-align: center;
    white-space: pre-line;
    margin: 25px auto 45px;
    line-height: 1.25rem;
    max-width: 350px;
  }

  @media (max-width: 500px) {
    margin-top: 40px;

    .cta--hero-image {
      max-width: 120px;
    }

    lf-button {
      width: 100%;
    }

    p {
      margin-bottom: 20px;
    }
  }
}

.lf-cta--slot-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

::slotted(*) {
  display: block;
  margin: 0 auto;
}
