ion-tab-bar {
  --background: #{$color-brand-lf-black-base};
  --border: none;
  height: 60px;
  padding: 8px 10%;

  .lf-navigation-buttons--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  lf-navigation-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .lf-navigation-button--nav-icon {
    height: 2em;
  }

  .lf-navigation-button--label {
    @include atlas-regular($color-brand-lf-white-base, 0.75em);
    margin-top: 6px;
  }

  ion-button {
    --background: $color-brand-lf-black-base;
    height: 100%;
  }

  .lf-navigation-button--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;

    transition: opacity 300ms linear;

    &.active-tab-route {
      opacity: 1;
    }
  }
}
