ion-tab-bar {
  --background: #{$color-brand-lf-black-base};
  --border: none;
  height: 60px;
  display: flex;
  justify-content: space-around;
  padding: 8px 10%;
}

.lf-tab-bar--nav-icon {
  height: 2em;
}

.lf-tab-bar--label {
  @include atlas-regular($color-brand-lf-white-base, 0.75em);
  margin-top: 6px;
}

ion-button {
  --background: $color-brand-lf-black-base;
  height: 100%;
}

.tab-bar-button--content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;

  transition: opacity 300ms linear;

  &.active-tab-route {
    opacity: 1;
  }
}
