@import '../../global/animations.scss';

:root {
  --animation-speed: 120ms;
  --animation-duration: 0.3s;
}
:host {
  display: flex;
  height: 100%;
}

.animation--pop-in {
  animation: popIn var(--animation-duration) calc(var(--animation-order) * var(--animation-speed)) both ease-in;
}

.wifi-connecting--container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.wifi-connecting--points {
  p {
    @include atlas-regular($color-brand-lf-white-base, 1.75rem);
    line-height: 2.1rem;
    text-align: center;
    margin: unset;
  }
}

.wifi-connecting--img-frame {
  width: 8.75rem;
  height: 8.75rem;
  @include center-inner-element();
  background-color: transparent;
}

.wifi-connecting--status-msg-container,
.wifi-connecting--status-container {
  width: 80%;
  margin: 0 auto;
}

.wifi-connecting--status-container {
  display: flex;
  justify-content: space-between;
}

.wifi-connecting--status-wrapper {
  width: 100%;
  @include center-inner-element();
}

.wifi-connecting--status-icon {
  height: 3.75rem;

  &.failed-icon {
    height: 5rem;
  }
}

.wifi-connecting--status-msg {
  @include atlas-light($color-brand-lf-white-base, 2.25rem);
  line-height: 2.6875rem;
  text-align: center;
}

.wifi-connecting--action-btn-container {
  outline: none;

  .wifi-connecting--action-btn {
    @include lf-std-border();
    outline: none;

    &:focus,
    &.focused {
      outline: none;
      border-color: $color-brand-lf-blue-base;
    }
  }
}

.action-btn--text {
  @include atlas-regular($color-brand-lf-green-bright, 2.25rem);
  line-height: 2.7rem;
  text-align: center;
  outline: none;
  padding: 1.4375rem;

  &:focus {
    outline: none;
  }
}

// animations
.progress-line,
.progress-line:before {
  height: 0.5rem;
  margin: 0;
}

.progress-line {
  background-color: $color-brand-lf-green-base;
  display: -webkit-flex;
  display: flex;
  width: 66%;
  border-radius: 4px;
}

.progress-line:before {
  width: 100%;
  background-color: #000000;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
