@import '../../../global/animations.scss';
@import '../../../global/action-button.scss';


// Global Component Styles
// ----------------------------------------------




.animation--pop-in {
  animation: popIn var(--animation-duration) calc(var(--animation-order) * var(--animation-speed)) both ease-in;
}




// Connection Status Message Container
// ----------------------------------------------
.status-msg-container {
  height: 100%;
  margin-top: 9.3vh;
}

.device-registration--status-msg {
  text-align: center;
  @include atlas-light($color-brand-lf-white-base, 3.33vh);
}

.status-msg--error-container {
  position: relative;
  margin: 20px 0 0;

  .status-msg--error-info {
    color: $color-brand-lf-text-gray;
    margin: 10px 0;
    font-size: 24px;
  }

  .status-msg--error-info-details {
    @include action-btn($width: $lf-card-width / 3, $height: 6.9vh);
    @include atlas-regular($color-brand-lf-green-bright, 2.75vh);
  }
}

