@import '../../../global/animations.scss';

// Local Scss Variables
// ----------------------------------------------
$iconBlurColor: $color-brand-lf-white-base;
$iconActiveColor: $color-brand-lf-blue-light;
$checkbox-size: 2.25rem;
$inputVerticalPadding: 1.85vh;

// Global Component Styles
// ----------------------------------------------
:host {
  display: block;
}
:root {
  --animation-order-prompt: 0;
  --animation-order-input: 1;
  --animation-order-checkbox: 2;
  --animation-order-keyboard: 3;
}

$shrink-inner: 95%;
.wifi-password--container {
  width: 95%;
  height: 100%;
  margin: 1.85vh auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// Local Scss Variables
// ----------------------------------------------
.wifi-password--prompt,
.wifi-password--network-name {
  display: block;
  width: 100%;
  @include atlas-light($color-brand-lf-white-base, 3.33vh);
  animation: popIn var(--animation-duration) calc(var(--animation-order-prompt) * var(--animation-speed)) both ease-in;
  margin: unset;
}

.wifi-password--network-name {
  margin-top: 1.15vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wifi-password--input-wrapper {
  position: relative;
  margin: $inputVerticalPadding 0;

  .wifi-password--visibility-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

// Password Visibility Toggle
// ----------------------------------------------
.wifi-password--visibility-toggle {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-right: 16px;
  appearance: none;
  border: initial;
  outline: none;
  animation: popIn var(--animation-duration) calc(var(--animation-order-input) * var(--animation-speed)) both ease-in;
  background-color: transparent;

  &:focus,
  &:hover,
  &:active {
    outline: none;

    svg {
      fill: $iconActiveColor;
    }
  }
}

.wifi-password--svg-wrapper {
  width: auto;
  height: auto;

  svg {
    height: 100%;
    width: 100%;
    fill: $iconBlurColor;
  }

  &.toggle-focused {
    fill: $iconActiveColor;
  }
}

.wifi-password--input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 7vh;
  margin: 0;
  background-color: $color-brand-lf-gray-light;
  border: unset;
  appearance: none;
  padding: 1vh 8% 0 2.8vh;

  animation: popIn var(--animation-duration) calc(var(--animation-order-input) * var(--animation-speed)) both ease-in;

  @include atlas-light($color-brand-lf-white-base, 3.3vh);
  line-height: 4vh;
  letter-spacing: 3px;

  &:focus {
    outline: none;
  }

  &.dirty[type='password'] {
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: 10px;
  }
}

// Password Visibility Toggle
// ----------------------------------------------
.wifi-password--display-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: popIn var(--animation-duration) calc(var(--animation-order-checkbox) * var(--animation-speed)) both ease-in;

  @include lf-std-border();
  padding: 1rem;

  &:focus,
  &.lf-item-focused {
    border-color: $color-brand-lf-blue-base;
    outline: none;
  }
}

// Checkbox
// ----------------------------------------------
input[type='checkbox'].wifi-password--display-toggle {
  height: $checkbox-size;
  width: $checkbox-size;
  outline: none;

  &:focus {
    outline: none;
  }
}

.wifi-password--display-toggle-label {
  font-size: $checkbox-size;
  margin-left: 1.25rem;
}

lf-keyboard {
  overflow: hidden;
  margin: auto 0;
  animation: fadeIn var(--animation-duration) calc(var(--animation-order-keyboard) * var(--animation-speed)) both ease-in;

  &:focus {
    outline: none;
  }
}

@media (max-width: 900px) {
  lf-keyboard {
    display: flex;
    justify-items: center;
    align-items: start;
    padding-top: 2rem;
  }
}
