
.wifi-list--page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.wifi-list--card {
  background-color: $color-brand-lf-gray-dark;
  border-radius: 0.75rem;
  color: $color-brand-lf-white-base;
  padding: 3rem 3rem 1rem 3rem;

  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 85%;
  margin: 0 auto;


  display: flex;
  flex-direction: column;
}

.wifi-list--content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

.wifi-list--header-container {
  .wifi-list--header-text {
    @include atlas-regular($color-brand-lf-white-base, 3rem);
    font-weight: bold;
    line-height: 3.625rem;
    padding: 0rem 2.0625rem;
  }

  .wifi-list--header-divider {
    background-color: $color-brand-lf-white-base;
    background-color: $color-brand-lf-white-base;
    height: 1px;
    padding: 0 0.5rem;
    width: 100%;
    margin-top: 2.3125rem;
  }
}

.loading-container {
  margin: 1.5rem;
  text-align: center;

  h3 {
    @include atlas-regular($color-brand-lf-white-base, 1.5rem);
    margin-bottom: 1rem;
  }

  img {
    width: 6rem;
    height: 6rem;
  }
}

.wifi-list--refresh-list {
  // display: flex;
  @include lf-std-list-item();
  @include atlas-regular(null, 2.25rem);
  text-align: center;

  &:focus,
  &:hover {
    color: $color-brand-lf-green-base;
    border-color: $color-brand-lf-blue-base;
    cursor: pointer;
  }

  &:active {
    border-color: $color-brand-lf-green-light;
  }
}

.scrollable-content {
  flex-grow: 1;
  overflow: auto;
  /* for Firefox */
  min-height: 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-brand-lf-text-gray-dark;
    border-radius: 10px;
  }
}
