:host {
  display: block;
}

$shrink-inner: 95%;
.wifi-password--container {
  width: 95%;
  margin: 0 auto;

  .wifi-password--input-container {
    margin-bottom: 1rem;
  }
  .wifi-password--prompt {
    display: block;
    width: 100%;
    margin: 2.6875rem auto 1.9375rem;
    @include atlas-light($color-brand-lf-white-base, 2.25rem);
    line-height: 2.6875rem;
  }

  .wifi-password--input {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 5.625rem;
    background-color: $color-brand-lf-gray-light;
    border: unset;
    appearance: none;
    padding-left: 1.8125rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1.5625rem;

    @include atlas-light($color-brand-lf-white-base, 2.25rem);
    line-height: 3.6875rem;
    letter-spacing: 3px;

    &:focus {
      outline: none;
    }

    &.dirty[type="password"] {
      letter-spacing: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 5rem;
      line-height: 10px;
      padding-bottom: 0.1rem;
    }
  }

  .wifi-password--display-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include lf-std-border();
    padding: 1rem;

    &:focus,
    &.lf-item-focused {
      border-color: $color-brand-lf-blue-base;
      outline: none;
    }
  }

  $checkbox-size: 2.25rem;
  input[type="checkbox"].wifi-password--display-toggle {
    height: $checkbox-size;
    width: $checkbox-size;
    border: 0.25rem solid red;
  }

  .wifi-password--display-toggle-label {
    font-size: $checkbox-size;
    margin-left: 1.25rem;
  }
}

lf-keyboard {
  margin-top: 1rem;
}


// .wifi-password--display-toggle {
//   position: absolute; // take it out of document flow
//   opacity: 0; // hide it

//   & + label {
//     position: relative;
//     cursor: pointer;
//     padding: 0;
//   }

//   // Box.
//   & + label:before {
//     content: '';
//     margin-right: 10px;
//     display: inline-block;
//     vertical-align: text-top;
//     width: $checkbox-size;
//     height: $checkbox-size;
//     background: white;
//   }

//   // Box hover
//   &:hover + label:before, &:checked + label:before  {
//     background: $color-brand-lf-blue-base;
//   }

//   // Box focus
//   &:focus + label:before {
//     box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
//   }

//   // Checkmark. Could be replaced with an image

//   &:checked + label:after {
//     content: '';
//     background-image: url("assets/images/icons/checkmark.svg")
//     // position: absolute;
//     // left: 5px;
//     // top: 9px;
//     // background: white;
//     // width: 2px;
//     // height: 2rem;
//     // box-shadow:
//     //   2px 0 0 white,
//     //   4px 0 0 white,
//     //   4px -2px 0 white,
//     //   4px -4px 0 white,
//     //   4px -6px 0 white,
//     //   4px -8px 0 white;
//     // transform: rotate(45deg);
//   }
// }
