@import "./simple-keyboard.css";

$color-primary-key: #646464;
$color-alt-key: #3f3f3f;

:host {
}

/**
 * Note:
 * classes with `.hg` are set by the simple-keyboard api on init
 * and can be removed via intiKeyboard config.theme
 */

.lf-keyboard--theme, // from lf-keyboard.component.tsx ButtonTheme
.hg-theme-default,
.hg-theme-default.hg-layout-numeric {
  background-color: transparent;
  @include atlas-regular($color-brand-lf-white-base, 1.6875rem);
  line-height: 2rem;
  outline: none;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }

  .hg-row {
    display: flex;

    .hg-button:not(:last-child) {
      margin-right: 5px;
    }

    & > div:last-child {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 0.325rem;
    }
  }

  .hg-button {
    box-sizing: border-box;
    width: 5.3125rem;
    height: 5rem;
    border-radius: 0.3125rem;
    border: 0.25rem solid transparent;
    background-color: $color-primary-key;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0.325rem;

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    &.lf-keyboard-key--short {
      height: 3.75rem;
    }

    &.hg-activeButton {
      background-color: $color-brand-lf-gray-light;
    }

    &:focus,
    &:hover {
      outline: none;
      border: 0.25rem solid $color-brand-lf-blue-base;
    }

    &.hg-button-space {
      flex-grow: 8;
    }

    &.hg-button-enter {
      display: flex;
      justify-content: flex-end;

      span {
        align-self: flex-end;
        justify-self: flex-end;
      }
    }

    &.hg-button-enter {
      flex-grow: 3;
    }

    &.hg-button-numeric,
    &.hg-button-alpha {
      display: flex;
      justify-content: flex-start;

      span {
        align-self: flex-end;
        justify-self: flex-start;
      }
    }

    &.hg-button-bksp {
      font-size: 1.25rem;
    }

    &.lf-keyboard-key--green {
      // from lf-keyboard.component.tsx ButtonTheme
      background-color: $color-brand-lf-green-light;

      &:active,
      .active {
        background-color: $color-brand-lf-green-base;
      }

      &.clean {
        background-color: $color-brand-lf-red-base;
      }
    }

    &.lf-keyboard-key--dark {
      // from lf-keyboard.component.tsx ButtonTheme
      background-color: $color-alt-key;
      &:active,
      .active {
        opacity: 0.8;
      }
    }

    &.hg-keyMarker {
      box-shadow: unset !important;
    }
  } // end .hg-button styles
}
