$color-primary-key: #646464;
$color-alt-key: #3f3f3f;

:host {
  outline: none;
}

/**
 * Note:
 * classes with `.hg` are set by the simple-keyboard api on init
 * and can be removed via intiKeyboard config.theme
 */
.keyboard--wrapper,
.simple-keyboard {
  box-sizing: border-box;
  flex: 1 0 0;
  height: 100%;
}

.simple-keyboard {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .keyboard--wrapper,
  .simple-keyboard {
    height: initial;
  }
  .hg-button {
    min-height: 4rem;
  }
}

.lf-keyboard--theme, // from lf-keyboard.component.tsx ButtonTheme
.hg-theme-default {
  background-color: transparent;
  @include atlas-regular($color-brand-lf-white-base, 1.6875rem);
  line-height: 2rem;
  outline: none;
  animation: popIn 0.3s calc(4 * 120ms) both ease-in;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }

  .hg-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-grow: 2;

    .hg-button:not(:last-child) {
      margin-right: 5px;
    }

    & > div:last-child {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 0.325rem;
    }

    // first row is skinnier
    &:first-of-type {
      flex-grow: 1;
    }
  }

  &.hg-layout-numeric,
  &.hg-layout-numericShift {
    // justify-items: center;
    // align-items: stretch;
  }

  .hg-button {
    box-sizing: border-box;
    // width: 5.3125rem;
    flex: 1 0 0;
    // max-height: 5rem;
    border-radius: 0.3125rem;
    border: 0.25rem solid transparent;
    background-color: $color-primary-key;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0.325rem;

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    &.hg-activeButton {
      background-color: $color-brand-lf-gray-light;
    }

    &:focus,
    &:hover {
      outline: none;
      border-color: $color-brand-lf-blue-base;
    }

    &.hg-button-space {
      flex-grow: 8;
    }

    $padding: 0.2rem;
    &.hg-button-enter {
      display: flex;
      flex-grow: 3;
      justify-content: flex-end;

      span {
        align-self: flex-end;
        justify-self: flex-end;
        padding: 0 $padding $padding 0;
      }
    }

    &.hg-button-numeric,
    &.hg-button-alpha {
      display: flex;
      flex-grow: 2;
      justify-content: flex-start;

      span {
        align-self: flex-end;
        justify-self: flex-start;
        padding: 0 0 $padding $padding;
      }
    }

    &.hg-button-bksp {
      font-size: 1.25rem;
    }

    &.lf-keyboard-key--green {
      // from lf-keyboard.component.tsx ButtonTheme
      background-color: $color-brand-lf-green-base;

      &:active,
      .active {
        background-color: $color-brand-lf-green-light;
      }

      &.clean {
        background-color: $color-brand-lf-red-base;
      }
    }

    &.lf-keyboard-key--dark {
      // from lf-keyboard.component.tsx ButtonTheme
      background-color: $color-alt-key;
      &:active,
      .active {
        opacity: 0.8;
      }
    }

    &.hg-keyMarker {
      box-shadow: unset !important;
      border-color: $color-brand-lf-blue-base;
    }
  } // end .hg-button styles
}
