// ---- Local SCSS Variables --------------------
$img-size: 120px;
$reduced-img-size: 90px;
$lf-card-size-breakpoint: 360px;

// ---- Lf Scene Card Styles --------------------
:host(lf-scene-card) {
  width: 100%;
  max-width: 100%;
  min-width: 250px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding: 8px;
  border-radius: 8px;
  justify-content: start;
  border: 2px solid var(--ion-background-color);
  background-color: transparent;

  transition: border-color 300ms, background-color 300ms;

  cursor: pointer;

  &:active,
  &.lf-scene-card--selected {
    background-color: $color-brand-lf-blue-base;
  }
}

:host(lf-scene-card.lf-scene-card--selected) {
  background-color: $color-brand-lf-blue-base;
}

// Allow the Lf Scene Card to fill the screen
// until we can fit more than 1 card in a row
@media (min-width: 820px) {
  :host(lf-scene-card) {
    max-width: $lf-card-size-breakpoint;
    margin-right: 24px;
  }
}

:host(lf-scene-card.lf-scene-card--selected) {
  background-color: $color-brand-lf-blue-base;
}

:host(lf-scene-card.lf-layout--desktop) {
  &:hover {
    border: 2px solid $color-brand-lf-blue-base;
  }
}

// ---- Layout -----------------------------------
.flex-fixed {
  --flex-fixed-content-size: #{$img-size};
}

.lf-scene-card--info-container {
  height: $img-size;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lf-scene-card--content {
  display: flex;
  width: 100%;
}

.info-container--top-content {
  display: grid;

  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// ---- Image Styles ----------------------------
.lf-scene-card--img-wrapper {
  width: $img-size;
  height: $img-size;
  background-color: $color-brand-lf-text-gray-dark;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lf-scene-card--scene-img {
  border-radius: inherit;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  &.placeholder {
    width: 20px;
    height: 20px;
  }

  &.hdmi {
    opacity: 0.7;
    width: 50px;
    height: 50px;
  }
}

// ---- Scene Info Text -------------------------
.info-container--title {
  @include atlas-regular($color-brand-lf-white-base, 1.125em);
  margin-bottom: 0.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info-container--description {
  @include atlas-regular($color-brand-lf-text-gray, 0.75rem);
  line-height: 1rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info-container--duration {
  @include atlas-regular($color-brand-lf-text-gray, 0.75rem);
}

// ---- Skeleton Styles -------------------------------
:host(lf-scene-card.lf-skeleton) {
  cursor: unset;

  &:hover {
    border: 2px solid transparent;
  }

  &:active,
  &.lf-scene-card--selected {
    background-color: transparent;
  }
}

.lf-skeleton--title {
  height: 1.125em;
  margin-bottom: 0.5rem;
}

.lf-skeleton--image {
  background: linear-gradient(
    to right,
    rgba(var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.065) 8%,
    rgba(var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.135) 18%,
    rgba(var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.065) 33%
  );
  background-size: 800px 104px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

// ---- Resize for Small Mobile Screens (Card Size) ----
@media (max-width: 350px) {
  html,
  body {
    font-size: 12px;
  }

  .lf-scene-card--img-wrapper {
    width: $reduced-img-size;
    height: $reduced-img-size;

    &.flex-fixed.lf-scene-card--img-wrapper.lf-scene-card--img-wrapper {
      flex: 0 0 $reduced-img-size;
    }
  }

  .lf-scene-card--info-container {
    height: $reduced-img-size;
  }

  .info-container--description {
    -webkit-line-clamp: 3;
  }
}
