@import '../../../global/animations.scss';

:root {
  --animation-speed: 500ms;
  --animation-duration: 0.5s;
}
.lf-experience--scenes-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-start;
}

.lf-home--content-container.lf-layout--mobile {
  margin-top: unset;
}

.lf-home--content-container.lf-layout--desktop {
  margin-top: 40px;

  .new-scan--btn-wrapper {
    margin: 50px 8px 25px;
  }
}

.lf-experience--title {
  margin-left: 10px;

  .project-desc {
    @include atlas-regular($color-brand-lf-text-gray, 0.825rem);
    margin-top: 0.5rem;
  }
}

.new-scan--btn-wrapper {
  max-width: 315px;
  margin: 50px auto 25px;

  &.lf-layout--desktop {
    margin: 50px 8px 25px;
  }
}

// Call To Action Container
lf-call-to-action {
  lf-button {
    display: block;
    width: 100%;
  }

  @media (min-width: 500px) {
    lf-button {
      margin: 0 auto;
      width: 315px;
    }
  }
}
