@import '../../../_common/animations.scss';

:root {
  --animation-speed: 200ms;
  --animation-duration: 0.1s;
}
.lf-experience--scenes-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-start;
}

.lf-home--content-container.lf-layout--mobile {
  margin-top: unset;
}

.lf-home--content-container.lf-layout--desktop {
  margin-top: 40px;

  .new-scan--btn-wrapper {
    margin: 50px 8px 25px;
  }
}

.lf-experience--title {
  margin-left: 10px;
}

.new-scan--btn-wrapper {
  max-width: 315px;
  margin: 50px auto 25px;

  &.lf-layout--desktop {
    margin: 50px 8px 25px;
  }
}


// Call To Action Container
.cta--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  .cta--hero-image {
    width: auto;
    height: auto;
  }

  lf-button {
    width: 315px;
  }

  p {
    margin: 25px auto 45px;
  }

  @media (max-width: 500px) {
    margin-top: 40px;

    .cta--hero-image {
      max-width: 120px;
    }

    lf-button {
      width: 100%;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
