.loading-container {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	img {
		margin-top: 50px;
		width: 150px;
		height: 150px;
	}
}
