:host(lf-project-group) {
  height: 100%;
  width: 100%;
  display: flex;

  .lf-experience--group {
    width: 100%;
    height: auto;
  }

  .lf-experience--title {
    margin-left: 10px;

    .sub-title {
      @include atlas-regular($color-brand-lf-text-gray, 0.825rem);
      margin-top: 0.5rem;
    }
  }

  .lf-experience--scenes-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    justify-content: flex-start;
  }
}
