.lf-alignment-d-pad--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 500px) {
  .lf-d-pad-button--container {
    width: 60px;
    height: 60px;
  }
}

.lf-alignment-d-pad--help-text {
  @include atlas-regular($color-brand-lf-white-base, 0.875rem);
  text-align: center;
  opacity: 0.5;
  margin: 1.25rem auto 0.5rem;
}

.lf-alignment-d-pad--inner-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  $lr-spacing: 1rem;
  .lf-d-pad-button--container {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    background: url('/assets/icons/d-pad_down-arrow.svg') center center no-repeat;
    background-color: $color-brand-lf-gray-light;
    background-size: 45% 45%;
    cursor: pointer;
    margin: 1vh;

    @media (max-width: 400px) {
      width: 50px;
      height: 50px;
    }

    @media (min-width: 400px) {
      border-width: 2px;
      width: 60px;
      height: 60px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      background-color: $color-brand-lf-text-gray-dark;
    }

    &.direction-up {
      order: 1;
      transform: rotate(180deg);
      margin-bottom: 1.5rem;
    }

    &.direction-left {
      order: 2;
      transform: rotate(90deg);
      margin-right: $lr-spacing;
    }
    &.direction-right {
      order: 3;
      transform: rotate(-90deg);
      margin-left: $lr-spacing;
    }
    &.direction-down {
      order: 4;
      transform: rotate(0);
    }
  }
}
