@import './scene-setup-global.scss';

.page-scene-setup-init {
  height: 100%;
  width: 100%;

  &.lf-layout--mobile {
    margin-top: 40px;

    .scene-setup--title {
      margin-bottom: 0.25rem;
    }

    .scene-setup--subtitle {
      margin-bottom: 1rem;
    }
  }

  &.lf-layout--desktop .scene-setup--title {
    margin-top: 50px;
  }

  lf-scene-setup-selection {
    height: 100%;
  }
}

.scene-setup--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.alignment-experience--container {
  height: 75%;
  display: flex;
  flex-wrap: wrap;

  &:active,
  &:focus {
    border-color: $color-brand-lf-blue-light;
  }
}

// Alignment Options Buttons
.alignment-experience--option {
  position: relative;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--app-background-color);
  transition: border-color 300ms ease-in-out;
  cursor: pointer;
  overflow: hidden;

  background: rgb(61, 61, 68);
  background: linear-gradient(0deg, rgba(61, 61, 68, 0.8715861344537815) 16%, rgba(143, 143, 143, 1) 95%);
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  video {
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  .alignment-experience--description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}

.alignment-experience--description {
  text-align: center;
  padding-bottom: 1.25rem;
}

.alignment-experience--title {
  @include atlas-medium($color-brand-lf-white-base, 1.5rem);
  line-height: 2rem;
  margin-bottom: 0.25rem;
}

.alignment-experience--subtitle {
  @include atlas-regular($color-brand-lf-white-base, 0.825rem);
}

// Mobile Styles - Option Container
.alignment-experience--container.lf-layout--mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .alignment-experience--option {
    width: 100%;
    max-width: 425px;
    height: 48%;

    &.object {
      margin-bottom: 2.5vh;
    }

    &:active,
    &:focus {
      border-color: $color-brand-lf-blue-base;
    }
  }

  @media (max-width: 400px) {
    .alignment-experience--title {
      font-size: 1.25rem;
    }

    .alignment-experience--subtitle {
      font-size: 0.75rem;
    }
  }
}

// Desktop Specific Styles
.alignment-experience--container.lf-layout--desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  .alignment-experience--option {
    min-width: 340px;
    max-height: 50%;
    margin: 10px;

    &:hover {
      border-color: $color-brand-lf-blue-base;
    }
  }

  @media (min-width: 1200px) {
    .alignment-experience--title {
      font-size: 32px;
    }

    .alignment-experience--subtitle {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 900px) {
    .alignment-experience--option {
      width: 30vw;
      height: 21vw;
      margin: 20px;
    }

    .alignment-experience--title {
      font-size: 1.75rem;
    }

    .alignment-experience--subtitle {
      font-size: 1rem;
    }
  }
}

// Back Button
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;

  ion-icon {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    ion-icon {
      transform: scale(1.15);
    }
  }
}
